.button {
  max-width: 170px;
  height: 72px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  cursor: pointer;
  transition: 0.3s opacity;

  @media (max-width: 450px) {
    border-radius: 500px;
  }
}
.button:hover {
  opacity: 0.8;
}
.button:active {
  background-color: #74747460;
}

.gray {
  background-color: var(--button-bg);
}

.lightgray {
  background-color: var(--button-lightgray);
}

.blue {
  background-color: var(--blue);
  color: white;
}
